<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lgxy.lbj.asms.mapper.NoticeMapper">

    <select id="selectByPage" resultType="edu.lgxy.lbj.asms.entity.Notice">
        select * from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">

            <if test="userGroup != null and userGroup == '老师' or userGroup == '学生'">
                and user_group = #{userGroup} and state = 1
            </if>
            <if test=" noticeName!= null and noticeName != ''">
                and notice_name = #{noticeName}
            </if>
            <if test=" updateTime!= null and updateTime != ''">
                and update_time like
                concat('%',#{updateTime},'%')
            </if>
        </trim>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="selectByPageNoLimit" resultType="edu.lgxy.lbj.asms.entity.Notice">
        select * from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">

            <if test="userGroup != null and userGroup == '老师' or userGroup == '学生'">
                and user_group = #{userGroup} and state = 1
            </if>
            <if test=" noticeName!= null and noticeName != ''">
                and notice_name = #{noticeName}
            </if>
            <if test=" updateTime!= null and updateTime != ''">
                and update_time like
                concat('%',#{updateTime},'%')
            </if>
        </trim>
    </select>


    <select id="getNoticeList" resultType="edu.lgxy.lbj.asms.entity.Notice">
        select * from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="userGroup != null and userGroup == '学生' and userGroup == '老师'">
                and user_group = #{userGroup}
            </if>
        </trim></select>


    <update id="withDrawByNoticeId" >
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null ">state = 0,</if>
        </trim>
        where notice_id = #{noticeId}
    </update>

    <update id="publishByNoticeId" >
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null ">state = 1,</if>
        </trim>
        where notice_id = #{noticeId}
    </update>

    <update id="updateByNoticeId" >
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeName != null ">notice_name = #{noticeName},</if>
            <if test="userGroup != null ">user_group = #{userGroup},</if>
            <if test="noticeInformation != null ">notice_information = #{noticeInformation},</if>
        </trim>
        where notice_id = #{noticeId}
    </update>
    <insert id="insertNotice" parameterType="edu.lgxy.lbj.asms.entity.Notice">
            insert into notice
            (notice_name,notice_information,
             user_group)
            values
                (#{noticeName},#{noticeInformation},#{userGroup})

    </insert>

    <delete id="deleteNotice">
        delete from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="noticeId != null and noticeId != ''">
                and notice_id = #{noticeId}
            </if>
        </trim>
    </delete>
</mapper>
