<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lgxy.lbj.asms.mapper.NoticeMapper">

    <select id="selectByPage" resultType="edu.lgxy.lbj.asms.entity.Notice">
        select * from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">

            <if test="userGroup != null and userGroup == '老师' or userGroup == '学生'">
                and user_group = #{userGroup} and state = 1
            </if>
            <if test=" noticeName!= null and noticeName != ''">
                and notice_name = #{noticeName}
            </if>
            <if test=" updateTime!= null and updateTime != ''">
                and update_time like
                concat('%',#{updateTime},'%')
            </if>
        </trim>
        limit #{pageIndex},#{pageSize}
    </select>


    <select id="getNoticeList" resultType="edu.lgxy.lbj.asms.entity.Notice">
        select * from notice
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="userGroup != null and userGroup == '学生' and userGroup == '老师'">
                and user_group = #{userGroup}
            </if>
        </trim></select>

</mapper>
