<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lgxy.lbj.asms.mapper.TeacherMapper">

    <insert id="insertContestDeclaration" parameterType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
    insert into contest_declaration
    (applicant_id,contest_name,contest_type,contest_date,participants_number,contest_introduction,
     contest_rules
     )
    values
    (#{applicantId},#{contestName},#{contestType},#{contestDate},#{participantsNumber},#{contestIntroduction},
     #{contestRules} )
    </insert>

    <select id="selectByPageAndUserId" resultType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
        select * from contest_declaration
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

            <if test=" applicantId!= null and applicantId != ''">
                and applicant_id = #{applicantId}
            </if>
        </trim>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="selectByPageAndUserIdNoLimit" resultType="edu.lgxy.lbj.asms.entity.ParticipantInfomation">
        select a.*,b.major,b.grade,b.academy from contest_participant a INNER JOIN student b on a.applicant_id = b.user_id
        where contest_information_id in
      (select contest_information_id from contest_information where
         contest_declaration_id in
      (SELECT contest_declaration_id from contest_declaration
        where applicant_id=#{applicantId}))

        <trim prefix="" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>
        </trim>
    </select>

    <select id="selectParticipantByPageAndUserId" resultType="edu.lgxy.lbj.asms.entity.ParticipantInfomation">
        select a.*,b.major,b.grade,b.academy from contest_participant a INNER JOIN student b on a.applicant_id = b.user_id
        where contest_information_id in
        (select contest_information_id from contest_information where
        contest_declaration_id in
        (SELECT contest_declaration_id from contest_declaration
        where applicant_id=#{applicantId}))

        <trim prefix="" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>
        </trim>
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="selectByPageAndUserIdNoList" resultType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
        select * from contest_declaration
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

            <if test=" applicantId!= null and applicantId != ''">
                and applicant_id = #{applicantId}
            </if>
        </trim>
    </select>

    <delete id="deleteContestParticipant">
        delete from contest_declaration
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestDeclarationId != null and contestDeclarationId != ''">
                and contest_declaration_id = #{contestDeclarationId}
            </if>
        </trim>
    </delete>



<!--    <select id="selectBaseCount" resultType="Integer">-->

<!--    </select>-->

<!--    <select id="selectBaseOne" resultType="Object">-->
<!--        ${select}-->
<!--    </select>-->

<!--    <update id="updateBaseSql">-->
<!--        ${sql}-->
<!--    </update>-->

<!--    <delete id="deleteBaseSql">-->
<!--        ${sql}-->
<!--    </delete>-->

</mapper>
