<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.lgxy.lbj.asms.mapper.TeacherMapper">

    <insert id="insertContestDeclaration" parameterType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
    insert into contest_declaration
    (applicant_id,contest_name,contest_type,contest_date,participants_number,contest_introduction,
     contest_rules
     )
    values
    (#{applicantId},#{contestName},#{contestType},#{contestDate},#{participantsNumber},#{contestIntroduction},
     #{contestRules} )
    </insert>

    <select id="selectByPageAndUserId" resultType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
        select A.*,realname from contest_declaration As A  INNER JOIN user B on A.applicant_id=B.user_id
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

            <if test=" applicantId!= null and applicantId != ''">
                and applicant_id = #{applicantId}
            </if>
        </trim>

        limit #{pageIndex},#{pageSize}
    </select>
    <select id="selectByPageAndUserIdNoLimit" resultType="edu.lgxy.lbj.asms.entity.ParticipantInfomation">
        select a.*,b.major,b.grade,b.academy from contest_participant a INNER JOIN student b on a.applicant_id = b.user_id
        where
        <trim suffix="and">
            <if test=" examineState!= null and examineState != ''">
                (examine_state=#{examineState} or examine_state='已通过')
            </if>
        </trim>
            contest_information_id in
      (select contest_information_id from contest_information where
         contest_declaration_id in
      (SELECT contest_declaration_id from contest_declaration
        where applicant_id=#{applicantId}))

        <trim prefix="and" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

        </trim>
    </select>
    <select id="selectResultsByUserIdAndParticipantId" resultType="edu.lgxy.lbj.asms.entity.ContestResults" parameterType="edu.lgxy.lbj.asms.qo.ParticipantQo">
        select * from contest_results where contest_participant_id = #{contestParticipantId}
    </select>
    <update id="updateResults" parameterType="edu.lgxy.lbj.asms.entity.ContestResults">
        update contest_results
        <trim prefix="set"  suffixOverrides=",">
            <if test="contestResult != null and contestResult != ''">
                contest_result = #{contestResult},
            </if>
        </trim>
            where contest_participant_id= #{contestParticipantId}
    </update>
    <select id="selectParticipantByPageAndUserId" resultType="edu.lgxy.lbj.asms.entity.ParticipantInfomation">

        select A.*,contest_result
        from (
        select a.*,b.major,b.grade,b.academy from contest_participant a INNER JOIN student b on a.applicant_id =
        b.user_id
        where
        <trim suffix="and">
            <if test=" examineState == '已完赛'">
                (examine_state=#{examineState} or examine_state='已通过')
            </if>
            <if test=" examineState == '未审核'">
                (examine_state=#{examineState} or examine_state='已通过' or examine_state='未通过')
            </if>
        </trim>


        contest_information_id in
        (select contest_information_id from contest_information where
        contest_declaration_id in
        (SELECT contest_declaration_id from contest_declaration
        where applicant_id=#{applicantId}))

        <trim prefix="and" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

        </trim>
        ) As A left join contest_results on A.contest_participant_id  =  contest_results.contest_participant_id

        limit #{pageIndex},#{pageSize}
    </select>

    <select id="selectByPageAndUserIdNoList" resultType="edu.lgxy.lbj.asms.entity.ContestDeclaration">
        select * from contest_declaration
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestName != null and contestName != ''">
                and contest_name = #{contestName}
            </if>
            <if test=" contestType!= null and contestType != ''">
                and contest_type = #{contestType}
            </if>
            <if test=" contestDate!= null and contestDate != ''">
                and contest_date like
                concat('%',#{contestDate},'%')
            </if>

            <if test=" applicantId!= null and applicantId != ''">
                and applicant_id = #{applicantId}
            </if>
        </trim>
    </select>

    <update id="updateParticipant" parameterType="edu.lgxy.lbj.asms.entity.ContestParticipant">
        update contest_participant
        <trim prefix="set"  suffixOverrides=",">
            <if test="examineReply != null and examineReply != ''">
                examine_reply = #{examineReply},
            </if>
            <if test="examineState != null and examineState != ''">
                examine_state = #{examineState},
            </if>
        </trim>
        where contest_participant_id = #{contestParticipantId} and applicant_id=#{applicantId}
    </update>

    <delete id="deleteContestParticipant">
        delete from contest_declaration
        <trim prefix="where" prefixOverrides="ADN|and" suffix="" suffixOverrides="">
            <if test="contestDeclarationId != null and contestDeclarationId != ''">
                and contest_declaration_id = #{contestDeclarationId}
            </if>
        </trim>
    </delete>
    <select id="selectByContestParticipantId" resultType="edu.lgxy.lbj.asms.entity.ContestParticipant">
        select * from contest_participant where contest_participant_id = #{contestParticipantId}
    </select>
    <insert id="insertResults" parameterType="edu.lgxy.lbj.asms.qo.ParticipantQo">
        insert into contest_results
        (contest_result,contest_participant_id,contest_date,
         contest_name,contest_type)
        values
            (#{contestResult},#{contestParticipantId},#{contestDate},
            #{contestName},#{contestType})
    </insert>

<!--    <select id="selectBaseCount" resultType="Integer">-->

<!--    </select>-->

<!--    <select id="selectBaseOne" resultType="Object">-->
<!--        ${select}-->
<!--    </select>-->

<!--    <update id="updateBaseSql">-->
<!--        ${sql}-->
<!--    </update>-->

<!--    <delete id="deleteBaseSql">-->
<!--        ${sql}-->
<!--    </delete>-->
    <delete id="deleteParticipant">
        delete from contest_participant where contest_participant_id=#{contestParticipantId}
    </delete>

</mapper>
